*{
    color:grey;
}
#img{
    width:500px;
    position:relative;
}

ul{
    list-style: none;
 }

h1{
    color:darkred;
}

.recipe-content {
    background-color: #fffafa;
    text-align: center;
}